{{> menu id="about"}}

<section class="ui center aligned middle aligned segment" id="about">
  <h2 id="aboutmainheader">
    The movie manager app team: 
  </h2>

  <div class="ui blue centered cards">
    {{#each developers}}
      {{> card}}
    {{/ each}}
  </div>
  <h2 class="ui header">

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p><img class="ui tiny image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/mappin.jpg?v=1647799366970">
 
    <img class="ui image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/londonmap.webp?v=1647799698338">
  </p>
    </div>
    <div class="column">
      <header class="ui red header">Contact Details</header>
      <br>
      <p>Mail: cbbabbage@hotmail.com</p>
      <p>Instagram: MovieManagerApp22</p>
      <p>Facebook: MMA22</p>
      <p>Twitter: MovieManagApp</p>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>
</h2>
</section>